In [36]:
import pandas as pd
import numpy as np
import unicodecsv
import random
import operator
import math

In [37]:
#getdata() function definition
def getdata(filename):
    df = pd.read_csv(filename)
    df.rename(
    columns={
        "Operator": "op",
        "In Out Travelling": "inOut",
        "Network Type": "nwrk",
        "Latitude": "lat",
        "Longitude": "long"
    },
    inplace=True
    )
    return df

In [38]:
df=getdata("training.csv")#,"RJio","Outdoor","4G","20.003349","85.6443336")
df.head()

,op,inOut,nwrk,Rating,Call Drop Category,lat,long,State Name
0,RJio,Outdoor,4G,4,2,20.668739,75.351666,Maharashtra
1,RJio,Indoor,4G,4,2,19.840000,75.235903,Maharashtra
2,Vodafone,Outdoor,3G,3,2,22.802025,70.814019,Gujarat
3,Vodafone,Indoor,3G,4,2,28.692893,77.281989,Uttar Pradesh
4,Airtel,Outdoor,3G,4,2,22.300008,73.199664,Gujarat

In [44]:
inp={}
inp['op']   ="RJio"           #input("input the operator")
inp['inOut']="Outdoor"        #input("input the inout travelling")
inp['nwrk'] ="4G"         #input("input network type")
inp['lat']  =float("26.77701484")          #input("input latitude")
inp["long"] =float("79.02836613")         #input("input longitude")
print(inp)

{'op': 'RJio', 'inOut': 'Outdoor', 'nwrk': '4G', 'lat': 26.77701484, 'long': 79.02836613}

In [54]:
tr_df=df[(df['op']==inp['op']) &(df['inOut']==inp['inOut']) &(df['nwrk']==inp['nwrk']) &(df['lat']==inp['lat'])&(df['long']==inp['long'])]
tr_df.reset_index(drop=True,inplace=True)
tr_df.loc[0]

op                             RJio
inOut                       Outdoor
nwrk                             4G
Rating                            5
Call Drop Category                2
lat                          26.777
long                        79.0284
State Name            Uttar Pradesh
Name: 0, dtype: object

In [49]:
def euclideanDist(x, xi):
    d = 0.0
    for i in range(len(x)-1):
        d += pow((float(x[i])-float(xi[i])),2)  #euclidean distance
    d = math.sqrt(d)
    return d